.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  overflow: hidden;

  svg {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    path {
      transition: d 5s linear;
    }
  }
}
