.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  overflow: hidden;

  svg {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    path {
      transition: all 5s linear;
    }
  }

  @keyframes flow {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-2500px);
    }
  }

  @keyframes background {
    0% {
      clip-path: circle(0%);
      opacity: 0;
    }
    100% {
      clip-path: circle(100%);
      opacity: 1;
    }
  }
}
