@import "reset.scss";
@import "businessCard.scss";
@import "initPage.scss";
@import "background.scss";
@import "introduce.scss";

$color-white: #fdf6ec;
$color-skyBlue: #b7cadb;
$color-clearBrown: #f3e9dd;
$color-darkBrown: #dab88b;
$color-brown: #e6d5b8;

body {
  background-color: $color-skyBlue;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}